.monaco-editor[data-uri^="file:"]
    // background-color: transparent
    background-image: url("file:///D:/封印内/test.png") !important
    background-size: cover
    background-attachment: fixed
    background-position: 50% 50%
    .monaco-editor-background
        background-color: transparent
    .margin
        background-color: transparent


// 17函数定义，19类定义
.mtk17, .mtk19 
    text-shadow: 0px 0px 4px rgba(255, 255, 255, 1)
